<div class="flex justify-center items-center">
    <div class="absolute w-screen h-screen bg-purple-500 top-0 bottom-0 z-50 flex items-center justify-center">
    
    <figure class="p-6 max-w-full h-auto">
        <img class="h-full max-w-full rounded-lg" src="https://placehold.jp/1280x720.png" alt="image description">
        <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Image caption</figcaption>
    </figure>
    
    </div>
</div>