---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Anam Fathonaya, a video editor and front-end web developer from Depok, Indonesia.
      <br />
      My primary tools of choice includes:
      <ul class="list-disc list-inside">
        <li>Adobe Premiere Pro</li>
        <li>Adobe Illustrator</li>
        <li>Adobe Photoshop</li>
        <li>Capcut</li>
        <li>Javascript</li>
        <li>Astro</li>
        <li>Figma</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Beyond video editing, I'm passionate about design and coding.
    </p>
  </div>
</Card>
